.ItemFilmBlocksUser {
    max-width: 860px;
    margin: 10px 230px;
    padding: 10px 10px;
    transition: all 500ms ease;
    height: 140px;
}

.ItemFilmBlocksUser:hover {
    background: #f4f4f4;
    border-radius: 25px;
    height: 140px;
}

.ItemFilmBlocksUser hr {
    margin-bottom: 15px;
}

.ItemFilmBlocksUser a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}

.ItemFilmBlocksUser a .id {
    width: 30px;
    border: 0;
}

.ItemFilmBlocksUser a .id h1 {
    font-size: 20px;
    margin-top: -30px;
}

.ItemFilmBlocksUser a .poster {
    width: 80px;
    border: 0;
}

.ItemFilmBlocksUser a .poster img {
    width: 75px;
}

.ItemFilmBlocksUser a .content {
    width: 340px;
    border: 0;
}

.ItemFilmBlocksUser a .content h1 {
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    text-align: start;
    margin-bottom: 5px;
    margin-top: -20px;

}

.ItemFilmBlocksUser a .content h2 {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
}

.ItemFilmBlocksUser a .content p {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    width: 310px;
    color: rgb(157, 156, 156);
}

.ItemFilmBlocksUser a .grade {
    width: 55px;
    border: 0;
}

.ItemFilmBlocksUser a .grade p{
    font-size: 13px  ;
    font-weight: 400  ;
    font-style: normal  ;
    color: rgb(157, 156, 156)  ;
    text-align: start;
}