.addActorsBlock {
    margin-left: 100px;
    padding-right: 1px;
    max-width: 300px;
    padding-top: 20px;
}

.addActorsBlock .btn {
    background: rgb(221, 221, 221);
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    width: 300px;
    height: 45px;
    border: 0;
    transition: all 500ms ease;
}

.addActorsBlock .btn:hover {
    background: rgb(202, 202, 202);
    transform: scale(1.1)
}

.addActorsBlock .actors h4 {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 800;
}