.nav {
    background: rgb(17, 17, 17);
    position: fixed;
    width: 100%;
    max-height: 60px;
    padding-top: 10px;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    padding: 5px 0;
}

header .logo {
    padding-left: 35px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul .logo {
    display: block;
    width: 180px;
    height: 70px;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    padding-left: 30px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.777);
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
}

header nav ul li input {
    background: #f8f8f82d;
    margin-left: 30px;
    color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 350px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
}

header nav ul li input:focus {
    color: black;
    background: white;
}

header nav ul li .btn0 {
    color: white;
    background: #f8f8f82d;
    margin-left: 45px;
    height: 40px;
    width: 80px;
    border: 0;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;
    transition: all 500ms ease;
}

header nav ul li .btn0:hover {
    background: #f8f8f834;
    transform: scale(1.1)
}
