.ListFilmBlocks {
    background: rgb(255, 255, 255);
    margin: 70px 60px;
    height: 100%;
    width: 1320px;
    display: block;
    max-width: 1320px;
}

.ListFilmBlocks h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.ListFilmBlocks .pagination {
    margin-left: 220px;
}